<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: MDBootstrap}"></th:block>
</head>
<body>
<nav th:replace="~{layout :: navbar}"></nav>
<h1 style="text-align: center">PRODUCT LIST</h1>
<p>
    <a th:href="@{/product/create}">
      <i style="margin-left: 40px; font-size: x-large" class="fas fa-plus-square"></i>
    </a>
</p>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table class="table">
    <thead class="white-text">
    <tr style="background-color: black; color: white">
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Describe</th>
        <th scope="col">Producer</th>
        <th scope="col" style="text-align: center">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="productObj, loop : ${productList}">
        <th scope="row" th:text="${loop.count}"></th>
        <td th:text="${productObj.id}"></td>
        <td th:text="${productObj.name}"></td>
        <td th:text="${productObj.price}"></td>
        <td th:text="${productObj.describe}"></td>
        <td th:text="${productObj.producer}"></td>
        <td class="d-flex justify-content-between">
            <a th:href="@{product/{id}/edit(id=${productObj.getId()})}"><i style="font-size: x-large" class="fas fa-user-edit"></i></a>
            <a th:href="@{product/{id}/delete(id=${productObj.getId()})}"><i style="font-size: x-large" class="fas fa-trash-alt"></i></a>
            <a th:href="@{product/{id}/view(id=${productObj.getId()})}"><i style="font-size: x-large" class="fas fa-eye"></i></a>
        </td>
    </tr>
    </tbody>
</table>

<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>
<!-- MDB -->
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js"
></script>