<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: MDBootstrap}"></th:block>
</head>
<body>
<nav th:replace="~{layout :: navbar}"></nav>
<h1 style="text-align: center">ADD FACILITY</h1>

<div class="col-6 mx-auto">
    <form th:action="@{/facility/save}" th:object="${facility}"
          method="POST" novalidate="novalidate">
        <table border="1" cellpadding="5" class="table table-striped table-dark">
            <input type="hidden" th:field="*{id}"/>
            <tr>
                <th>Name:</th>
                <td>
                    <input type="text" th:field="*{name}" class="form-control"/>
                </td>
            </tr>
            <tr>
                <th>Area:</th>
                <td>
                    <input type="text" th:field="*{area}" class="form-control"/>
                </td>
            </tr>
            <tr>
                <th>Max People:</th>
                <td>
                    <input type="text" th:field="*{maxPeople}" class="form-control"/>
                </td>
            </tr>
            <tr>
                <th>Cost:</th>
                <td>
                    <input type="text" th:field="*{cost}" class="form-control"/>
                </td>
            </tr>
            <tr>
                <th>Rent Type :</th>
                <td>
                    <select th:field="*{rentType}" class="form-select">
                        <option th:each="rentTypeObj : ${rentTypeList}"
                                th:text="${rentTypeObj.name}"
                                th:value="${rentTypeObj.id}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Facility Type :</th>
                <td>
                    <select th:field="*{facilityType}" class="form-select" id="facility_select">
                        <option value="">Choose Facility Type</option>
                        <option th:each="facilityTypeObj : ${facilityTypeList}"
                                th:text="${facilityTypeObj.name}"
                                th:value="${facilityTypeObj.id}">
                        </option>
                    </select>
                </td>
            </tr>


            <!--            Villa-->
            <tr class="villa">
                <th>Standard Room:</th>
                <td>
                    <input type="text" th:field="*{standardRoom}" class="form-control"/>
                </td>
            </tr>
            <tr class="villa">
                <th>Description Other Convenience:</th>
                <td>
                    <input type="text" th:field="*{descriptionOtherConvenience}" class="form-control"/>
                </td>
            </tr>
            <tr class="villa">
                <th>Pool Area:</th>
                <td>
                    <input type="text" th:field="*{poolArea}" class="form-control"/>
                </td>
            </tr>
            <tr class="villa">
                <th>Number Of Floors:</th>
                <td>
                    <input type="text" th:field="*{numberOfFloors}" class="form-control"/>
                </td>
            </tr>

            <!--            Room-->
            <tr class="room">
                <th>Facility Free:</th>
                <td>
                    <input type="text" th:field="*{facilityFree}" class="form-control">
                </td>
            </tr>

            <!--            House-->
            <tr class="house">
                <th>Standard Room:</th>
                <td>
                    <input type="text" th:field="*{standardRoom}" class="form-control"/>
                </td>
            </tr>
            <tr class="house">
                <th>Description Other Convenience:</th>
                <td>
                    <input type="text" th:field="*{descriptionOtherConvenience}" class="form-control"/>
                </td>
            </tr>
            <tr class="house">
                <th>Number Of Floors:</th>
                <td>
                    <input type="text" th:field="*{numberOfFloors}" class="form-control"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Save" class="form-control"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button class="btn" style="background: azure">
                        <a style="text-decoration: none; color: black" th:href="@{/facility}">Back to list</a>
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>

<footer th:replace="~{layout :: footer}"></footer>

<th:block th:replace="~{layout :: jsMDB}"></th:block>
</body>
</html>
 MDB
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js"
></script>
<script src="js/jquery-3.6.0.min.js"></script>4
<script>
    $(document).ready(function () {
        $(".villa").hide();
        $(".villa").find(input).prop("disabled", true);
        $(".house").hide();
        $(".house").find(input).prop("disabled", true);
        $(".room").hide();
        $(".room").find(input).prop("disabled", true);
    })
    $("#service_select").change(function () {
        console.log('999999999999999')
        if (this.value == 1) {
            $(".villa").show()
            $(".villa").find("input").prop("disabled", false)
            $(".house").hide()
            $(".house").find("input").prop("disabled", true)
            $(".room").hide()
            $(".room").find("input").prop("disabled", true)
        } else if (this.value == 2) {
            $(".villa").hide()
            $(".villa").find("input").prop("disabled", true)
            $(".house").show()
            $(".house").find("input").prop("disabled", false)
            $(".room").hide()
            $(".room").find("input").prop("disabled", true)
        } else if (this.value == 3) {
            $(".villa").hide()
            $(".villa").find("input").prop("disabled", true)
            $(".house").hide()
            $(".house").find("input").prop("disabled", true)
            $(".room").show()
            $(".room").find("input").prop("disabled", false)
        } else {
            $(".villa").hide()
            $(".villa").find("input").prop("disabled", true)
            $(".house").hide()
            $(".house").find("input").prop("disabled", true)
            $(".room").hide()
            $(".room").find("input").prop("disabled", true)
        }
    })
</script>
